In [1]:
print("Hello World")

Hello World

# Day1
# Create Virtual envornment
* select your workdirectly
    * open terminal ubnuntu
    * Windows Os
        * address bar -> select address bar text -> remove- >cmd
    * Window button -> anaconda prompt -> cd <path>
    * `python -m venv <envname>`
        * `source abc/bin/activate`
        * Windows
            * `.\abc\Scripts\activate`
    * install packages
        * `pip install flask django gunicorn numpy pandas`
* Hello World in python
    * terminal -> pthon
        * `print("Hello World")
    * touch **abc.py**
        * `print("Hello world")`
        * **python abc.py**
    * VS code 
        * `code .`
    * jupyter notebook
        * `jupyter notebook`

# Today contents
## Data Types

### str

In [2]:
a = 'Pakistan zinda bad!'
print(a)
print(type(a))
print(id(a))

Pakistan zinda bad!
<class 'str'>
139858570272816

In [3]:
a = "Pakistan zinda bad!"
print(a)
print(type(a))
print(id(a))

Pakistan zinda bad!
<class 'str'>
139858570275296

In [4]:
a = 'Pakistan's zinda bad!'
print(a)
print(type(a))
print(id(a))

SyntaxError: invalid syntax (<ipython-input-4-e6b50e3f9321>, line 1)

In [5]:
a = 'Pakistan\'s zinda bad!'
print(a)
print(type(a))
print(id(a))

Pakistan's zinda bad!
<class 'str'>
139858570257472

In [6]:
a = 'Pakistan zinda bad!
we love our country
I am pakistani
'
print(a)
print(type(a))
print(id(a))

SyntaxError: EOL while scanning string literal (<ipython-input-6-f932260e08c6>, line 1)

In [7]:
a = 'Pakistan zinda bad!\
we love our country\
I am pakistani\
'
print(a)
print(type(a))
print(id(a))

Pakistan zinda bad!we love our countryI am pakistani
<class 'str'>
139858570270736

In [9]:
a = '''Pakistan zinda bad!
we love our country
I am pakistani
'''
print(a)
print(type(a))
print(id(a))

Pakistan zinda bad!
we love our country
I am pakistani

<class 'str'>
139858579138912

In [10]:
a

'Pakistan zinda bad!\nwe love our country\nI am pakistani\n'

In [11]:
a = """Pakistan zinda bad!
we love our country
I am pakistani
"""
print(a)
print(type(a))
print(id(a))

Pakistan zinda bad!
we love our country
I am pakistani

<class 'str'>
139858570269056

### String formation (concatination)

In [13]:
a = "Muhammmad"
b = "Qasim"

result = "Dear "+a+" "+b+", Welcome!"

print(result)

Dear Muhammmad Qasim, Welcome!

In [14]:
a = "Muhammmad"
b = "Qasim"
age = 30

result = "Dear "+a+" "+b+", Welcome! you are "+age+" old"

print(result)

TypeError: can only concatenate str (not "int") to str

In [15]:
a = "Muhammmad"
b = "Qasim"
age = 30

result = "Dear "+a+" "+b+", Welcome! you are "+str(age)+" old"

print(result)

Dear Muhammmad Qasim, Welcome! you are 30 old

In [16]:
a = "Muhammmad"
b = "Qasim"
age = 30

result = "Dear {} {}, Welcome! you are {} old".format(a,b,age)

print(result)

Dear Muhammmad Qasim, Welcome! you are 30 old

In [17]:
a = "Muhammmad"
b = "Qasim"
age = 30

result = "Dear {2} {1}, Welcome! you are {0} old".format(a,b,age)

print(result)

Dear 30 Qasim, Welcome! you are Muhammmad old

In [18]:
a = "Muhammmad"
b = "Qasim"
age = 30

result = f"Dear {a} {b}, Welcome! you are {age} old"

print(result)

Dear Muhammmad Qasim, Welcome! you are 30 old

In [24]:
x = """
Krazzy Knight2:18 PM
yes
Zareen Fatima2:18 PM
hes
Syed Ammad Waheed2:22 PM
4210113863591 Syed Ammad Waheed Hassani
taimoor qureshi2:22 PM
4240179641627
Ad Khan2:22 PM
Muhammad Adnan Khan 42201-1382338-3

Muhammad Adnan Khan 42201-1382338-3
Muhammad Adnan Khan 42201-1382338-3
Tatheer Fatima2:23 PM
4210124609792
""".replace("-","")
print(x)

Krazzy Knight2:18 PM
yes
Zareen Fatima2:18 PM
hes
Syed Ammad Waheed2:22 PM
4210113863591 Syed Ammad Waheed Hassani
taimoor qureshi2:22 PM
4240179641627
Ad Khan2:22 PM
Muhammad Adnan Khan 4220113823383

Muhammad Adnan Khan 4220113823383
Muhammad Adnan Khan 4220113823383
Tatheer Fatima2:23 PM
4210124609792

In [25]:
import re

In [26]:
re.findall(r'[0-9]{13}',x)

['4210113863591',
 '4240179641627',
 '4220113823383',
 '4220113823383',
 '4220113823383',
 '4210124609792']

In [27]:
set(re.findall(r'[0-9]{13}',x))

{'4210113863591', '4210124609792', '4220113823383', '4240179641627'}

In [29]:
a = "pakistan zinda bad"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [31]:
str.zfill?

# list

In [32]:
data = [1,'ab',('aa'),[1,2,3],{1,2},{'a':'pakistan'}]
print(type(data))
print(data)

<class 'list'>
[1, 'ab', 'aa', [1, 2, 3], {1, 2}, {'a': 'pakistan'}]

In [33]:
# ->   0   1   2   3
l1 = ['a','b','c','d']
# <-1  -4  -3  -2  -1
print(l1[1], l1[-3])

b b

In [34]:
l1 = ['a','b','c','d']
for i in l1:
    print(i)

a
b
c
d

In [38]:
[i+'_pak' for i in l1]

['a_pak', 'b_pak', 'c_pak', 'd_pak']

In [36]:
l = [chr(i) for i in range(65,91)]
l

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [39]:
l1 = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
l1

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [47]:
l1 = list('ABCDEFGH')
#list[start:end:step]
#start = include
#end = exclude end-1
#step = sequance for next move
print(l1[2:5])#left to right move
print(l1[-6:-3])

['C', 'D', 'E']
['C', 'D', 'E']

In [48]:
l1 = list('ABCDEFGH')
print(l1[::2])

['A', 'C', 'E', 'G']

In [52]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [55]:
a = list(range(1,11))
a[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [59]:
a = list(range(1,11))
print(a[2:])
print(a[2::])

[3, 4, 5, 6, 7, 8, 9, 10]
[3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
a = list(range(1,11))
print(a[:5])
print(a[:5:])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [58]:
a = list(range(1,11))
print(a)
a[-3::-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[8, 7, 6, 5, 4, 3, 2, 1]

In [63]:
a = [f"{2} x {i} = {i*2}" for i in list(range(1,11))]
a

['2 x 1 = 2',
 '2 x 2 = 4',
 '2 x 3 = 6',
 '2 x 4 = 8',
 '2 x 5 = 10',
 '2 x 6 = 12',
 '2 x 7 = 14',
 '2 x 8 = 16',
 '2 x 9 = 18',
 '2 x 10 = 20']

In [64]:
l1 = ['1','b','c']
print(l1[0])
l1[0] = 77
print(l1)

1
[77, 'b', 'c']

In [65]:
c = 'pakistan'
f = 'pakistan'
print(id(c))
print(id(f))

139858569480624
139858569480624

In [66]:
a = [1,2,3]
b = a
b[0]=20
print(a)
print(b)

[20, 2, 3]
[20, 2, 3]

In [67]:
a = [1,2,3]
b = a.copy()
b[0]=20
print(a)
print(b)

[1, 2, 3]
[20, 2, 3]

In [68]:
a = [1,2,3]
b = a[::]
b[0]=20
print(a)
print(b)

[1, 2, 3]
[20, 2, 3]

if logic:
    true_block
else:
    false_block

true_block if logic else false_block

In [72]:
user = 'admin'
password = 'admin'

if user == 'admin' and password=='admin':
    print("Valid user")
    print("......")
else:
    print("Not valid user")

Valid user
......

In [77]:
user = 'admin'
password = 'admin'

logic_check = "Valid user" if user == 'admin' and password=='admin' else "Not valid user"
logic_check
logic_check
logic_check
logic_check# return only last line of cell

'Valid user'

In [78]:
a,b,c = 1, 2, 3
print(a)
print(b)
print(c)

1
2
3

In [79]:
a,b,c = [1,2,3]
print(a)
print(b)
print(c)

1
2
3

In [81]:
l1 = [1,2,3]
print(l1[0],l1[1],l1[2])
print(*l1)

1 2 3
1 2 3

In [84]:
database = [('admin','admin'),
           ('qasim','qasim')]

['valid user' if i[0]=='admin' and i[1]=='admin' else 'not valid user' for i  in database]

['valid user', 'not valid user']

In [87]:
l1 = list('abc')
print(l1)
l1.append('x')
print(l1)
l1.insert(2,"PK")
print(l1)

['a', 'b', 'c']
['a', 'b', 'c', 'x']
['a', 'b', 'PK', 'c', 'x']

In [88]:
print(dir(l1))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [89]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [90]:
l1 = [1,2,3]
l2 = [6,4,5]
print(l1+l2)

[1, 2, 3, 6, 4, 5]

In [91]:
l1 = [1,2,3]
l2 = [6,4,5]
l1.append(l2)
print(l1)

[1, 2, 3, [6, 4, 5]]

In [92]:
l1 = [1,2,3]
l2 = [6,4,5]
l1.extend(l2)
print(l1)

[1, 2, 3, 6, 4, 5]

In [93]:
l1 = [1, 2, 3, 6, 4, 5]
del l1[0]
print(l1)

[2, 3, 6, 4, 5]

In [94]:
l1 = [1, 2, 3, 6, 4, 5]
a = l1.pop(0)
print(l1)
print("Deleted value",a)

[2, 3, 6, 4, 5]
Deleted value 1

In [95]:
l1 = list('abcdef')
a = l1.remove('d')
print(l1)
print("Deleted value",a)

['a', 'b', 'c', 'e', 'f']
Deleted value None

In [97]:
l1 = list('abcdef')
print(l1)
l1.reverse()
print(l1)

['a', 'b', 'c', 'd', 'e', 'f']
['f', 'e', 'd', 'c', 'b', 'a']

In [99]:
def function_name(n1,n2):
    return n1 + n2

function_name(2,8)

10

In [100]:
a = lambda n1,n2: n1 + n2
a(7,9)

16

In [103]:
data = [[1,'a',3],
       [3,'b',5],
       [2,'c',4]]
data

[[1, 'a', 3], [3, 'b', 5], [2, 'c', 4]]

In [104]:
sorted(data)

[[1, 'a', 3], [2, 'c', 4], [3, 'b', 5]]

In [106]:
sorted(data, key=lambda x:x[1])

[[1, 'a', 3], [3, 'b', 5], [2, 'c', 4]]

In [107]:
sorted(data, key=lambda x:x[-1])

[[1, 'a', 3], [2, 'c', 4], [3, 'b', 5]]

In [108]:
sorted(data, key=lambda x:x[-1], reverse=True)

[[3, 'b', 5], [2, 'c', 4], [1, 'a', 3]]

In [109]:
data

[[1, 'a', 3], [3, 'b', 5], [2, 'c', 4]]

# Tuple

In [110]:
a = (1,2,3)
a[0] = 7

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [111]:
data = {
    "name":['qasim','Asif'],
    'fname':['Aslam','Abid']
}
data

{'name': ['qasim', 'Asif'], 'fname': ['Aslam', 'Abid']}

In [112]:
data['name']

['qasim', 'Asif']

In [113]:
l = [(1,'a'),(2,'b'),(3,'c')]
for i in l:
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [114]:
l = [(1,'a'),(2,'b'),(3,'c')]
for n,_ in l:
    print(n)

1
2
3

In [115]:
l = [(1,'a'),(2,'b'),(3,'c')]
for _,c in l:
    print(c)

a
b
c

In [116]:
data

{'name': ['qasim', 'Asif'], 'fname': ['Aslam', 'Abid']}

In [117]:
data['class']

KeyError: 'class'

In [118]:
data.get('class')

In [119]:
data.get('name')

['qasim', 'Asif']

In [122]:
data = {
    "name":['qasim','Asif'],
    'fname':['Aslam','Abid',{'a':'aaa'}]
}
data['name'][-1]

'Asif'

In [127]:
data['fname'][-1]["a"]

'aaa'

In [131]:
l = list(range(1,11))
print(l)
list(map(lambda x:x+2,l))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [133]:
columns = ['name','fname','course']
values = ['qasim','Aslam',"AI"]

list(zip(columns,values))

[('name', 'qasim'), ('fname', 'Aslam'), ('course', 'AI')]

In [135]:
{i:v for i,v in zip(columns,values)}

{'name': 'qasim', 'fname': 'Aslam', 'course': 'AI'}

# functions1

In [138]:
def abc(a,b,c=0):
    print("a",a,"b",b,"c",c)
    return a + b + c

print(abc(1,7))
print(abc(1,2,3))
print(abc(1))

a 1 b 7 c 0
8
a 1 b 2 c 3
6

TypeError: abc() missing 1 required positional argument: 'b'

In [139]:
def my_sum(*n):
    print(n)
    return sum(n)

my_sum(1,23,3,5,56,2)

(1, 23, 3, 5, 56, 2)

90

In [140]:
def my_sum(n1,n2,*n):
    print(n1,n2,n)
    return sum(n)

my_sum(1,23,3,5,56,2)

1 23 (3, 5, 56, 2)

66

In [141]:
def my_sum(n1,n2,n3=0,*n):
    print(n1,n2,n3,n)
    return sum(n)

my_sum(1,23,3,5,56,2)

1 23 3 (5, 56, 2)

63

In [143]:
def myfn(a,b,c):
    print("a",a,"b",b,"c",c)
    return a + b + c
myfn(1,2,3)

a 1 b 2 c 3

6

In [144]:
def myfn(a,b,c):
    print("a",a,"b",b,"c",c)
    return a + b + c
myfn(c=1,a=2,b=3)

a 2 b 3 c 1

6

In [146]:
myfn(*[1,2,3])

a 1 b 2 c 3

6

In [147]:
def myfn1(a,b, **args):
    print("a",a,"b",b,"c",args)
    
myfn1(1,2,name='qasim',fname='Aslam',course='AI')

a 1 b 2 c {'name': 'qasim', 'fname': 'Aslam', 'course': 'AI'}

In [148]:
data = {"a":7,"b":7,'name':'qasim'}

myfn1(**data)

a 7 b 7 c {'name': 'qasim'}

# Generator function

In [151]:
def mygen(s,e):
    for i in range(s,e+1):
        yield i
        
a = mygen(1,10)
print(a)
print(next(a))
print(next(a))
print(next(a))
print(list(a))

<generator object mygen at 0x7f3354c2d450>
1
2
3
[4, 5, 6, 7, 8, 9, 10]

# Recursive function

In [154]:
def my_recursive(x):
    if x == 1:
        return x
    print(x)
    return my_recursive(x-1)+x # 5+4+3+2+1
my_recursive(5)

5
4
3
2

15

# Numpy

In [155]:
l1 = [1,2,3,4,5]
[i+2 for i in l1]

[3, 4, 5, 6, 7]

In [156]:
l1 + 2

TypeError: can only concatenate list (not "int") to list

In [157]:
import numpy as np

In [158]:
%%time
[i+2 for i in range(1,1000000)]

CPU times: user 63.3 ms, sys: 19.7 ms, total: 83 ms
Wall time: 84.7 ms

[3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 ...]

In [159]:
%%time
np.arange(1,1000000) + 2

CPU times: user 3.16 ms, sys: 27.5 ms, total: 30.7 ms
Wall time: 38.9 ms

array([      3,       4,       5, ...,  999999, 1000000, 1000001])

In [160]:
a = np.arange(1,11)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [161]:
a = np.arange(10*10).reshape(10,10)
a

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [162]:
a + 5

array([[  5,   6,   7,   8,   9,  10,  11,  12,  13,  14],
       [ 15,  16,  17,  18,  19,  20,  21,  22,  23,  24],
       [ 25,  26,  27,  28,  29,  30,  31,  32,  33,  34],
       [ 35,  36,  37,  38,  39,  40,  41,  42,  43,  44],
       [ 45,  46,  47,  48,  49,  50,  51,  52,  53,  54],
       [ 55,  56,  57,  58,  59,  60,  61,  62,  63,  64],
       [ 65,  66,  67,  68,  69,  70,  71,  72,  73,  74],
       [ 75,  76,  77,  78,  79,  80,  81,  82,  83,  84],
       [ 85,  86,  87,  88,  89,  90,  91,  92,  93,  94],
       [ 95,  96,  97,  98,  99, 100, 101, 102, 103, 104]])

<img src=''>

In [164]:
a = np.arange(3*5*5).reshape(3,5,5)
a

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24]],

       [[25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49]],

       [[50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69],
        [70, 71, 72, 73, 74]]])

In [165]:
a = np.arange(3*5*5).reshape(3,5,5)
a + 2

array([[[ 2,  3,  4,  5,  6],
        [ 7,  8,  9, 10, 11],
        [12, 13, 14, 15, 16],
        [17, 18, 19, 20, 21],
        [22, 23, 24, 25, 26]],

       [[27, 28, 29, 30, 31],
        [32, 33, 34, 35, 36],
        [37, 38, 39, 40, 41],
        [42, 43, 44, 45, 46],
        [47, 48, 49, 50, 51]],

       [[52, 53, 54, 55, 56],
        [57, 58, 59, 60, 61],
        [62, 63, 64, 65, 66],
        [67, 68, 69, 70, 71],
        [72, 73, 74, 75, 76]]])

In [167]:
print(a)
print(type(a))
print("Size",a.size)
print("type",a.dtype)
print("Shape",a.shape)
print("Diminsion",a.ndim)

[[[ 0  1  2  3  4]
  [ 5  6  7  8  9]
  [10 11 12 13 14]
  [15 16 17 18 19]
  [20 21 22 23 24]]

 [[25 26 27 28 29]
  [30 31 32 33 34]
  [35 36 37 38 39]
  [40 41 42 43 44]
  [45 46 47 48 49]]

 [[50 51 52 53 54]
  [55 56 57 58 59]
  [60 61 62 63 64]
  [65 66 67 68 69]
  [70 71 72 73 74]]]
<class 'numpy.ndarray'>
Size 75
type int64
Shape (3, 5, 5)
Diminsion 3

In [169]:
print(a)
a[::,::,::]

[[[ 0  1  2  3  4]
  [ 5  6  7  8  9]
  [10 11 12 13 14]
  [15 16 17 18 19]
  [20 21 22 23 24]]

 [[25 26 27 28 29]
  [30 31 32 33 34]
  [35 36 37 38 39]
  [40 41 42 43 44]
  [45 46 47 48 49]]

 [[50 51 52 53 54]
  [55 56 57 58 59]
  [60 61 62 63 64]
  [65 66 67 68 69]
  [70 71 72 73 74]]]

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24]],

       [[25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49]],

       [[50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69],
        [70, 71, 72, 73, 74]]])

In [171]:
print(a)
print("======")
print(a[0])

[[[ 0  1  2  3  4]
  [ 5  6  7  8  9]
  [10 11 12 13 14]
  [15 16 17 18 19]
  [20 21 22 23 24]]

 [[25 26 27 28 29]
  [30 31 32 33 34]
  [35 36 37 38 39]
  [40 41 42 43 44]
  [45 46 47 48 49]]

 [[50 51 52 53 54]
  [55 56 57 58 59]
  [60 61 62 63 64]
  [65 66 67 68 69]
  [70 71 72 73 74]]]
======
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

In [174]:
print(a)
print("=======")
print(a[::,::,::2])

[[[ 0  1  2  3  4]
  [ 5  6  7  8  9]
  [10 11 12 13 14]
  [15 16 17 18 19]
  [20 21 22 23 24]]

 [[25 26 27 28 29]
  [30 31 32 33 34]
  [35 36 37 38 39]
  [40 41 42 43 44]
  [45 46 47 48 49]]

 [[50 51 52 53 54]
  [55 56 57 58 59]
  [60 61 62 63 64]
  [65 66 67 68 69]
  [70 71 72 73 74]]]
=======
[[[ 0  2  4]
  [ 5  7  9]
  [10 12 14]
  [15 17 19]
  [20 22 24]]

 [[25 27 29]
  [30 32 34]
  [35 37 39]
  [40 42 44]
  [45 47 49]]

 [[50 52 54]
  [55 57 59]
  [60 62 64]
  [65 67 69]
  [70 72 74]]]

# Numpy General Functions

In [182]:
a = np.random.randint(1,100,(10,10))
a

array([[11, 22, 31, 47, 60, 99, 91, 76, 73, 36],
       [76, 58, 81, 65, 65, 42, 73, 54, 17, 54],
       [72, 86, 83, 78, 73, 48, 34, 82,  8, 89],
       [86, 50, 31, 21,  5, 91, 72, 67, 28, 28],
       [11, 54, 82,  4, 90, 74, 22,  9, 50, 34],
       [87, 21, 66, 16, 54, 10, 41, 47, 57, 64],
       [47, 84, 21, 47, 40, 28, 34, 83,  2, 47],
       [41, 60, 91, 36, 18, 73, 43, 50, 39, 15],
       [92, 52, 67, 86, 24, 24, 88, 92,  4, 33],
       [36, 53, 98, 12, 56, 71, 42, 81,  2, 43]])

In [186]:
a = np.arange(1,11)
print(a)
print(a[0])
a[[0,9,5,1]]

[ 1  2  3  4  5  6  7  8  9 10]
1

array([ 1, 10,  6,  2])

In [190]:
a = np.arange(1,5)
print(a)
print(a[[True,False,False,False]])
print(a[[True,False,True,False]])

[1 2 3 4]
[1]
[1 3]

In [176]:
np.ones((10,10))

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [178]:
np.ones((3,10,10), dtype=np.int64)

array([[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]],

       [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]],

       [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]])

In [181]:
np.ones((10,1), dtype=np.int64)

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1]])

In [193]:
a = np.arange(1,101).reshape(10,10)
print(a)
print(a % 5== 0)

[[  1   2   3   4   5   6   7   8   9  10]
 [ 11  12  13  14  15  16  17  18  19  20]
 [ 21  22  23  24  25  26  27  28  29  30]
 [ 31  32  33  34  35  36  37  38  39  40]
 [ 41  42  43  44  45  46  47  48  49  50]
 [ 51  52  53  54  55  56  57  58  59  60]
 [ 61  62  63  64  65  66  67  68  69  70]
 [ 71  72  73  74  75  76  77  78  79  80]
 [ 81  82  83  84  85  86  87  88  89  90]
 [ 91  92  93  94  95  96  97  98  99 100]]
[[False False False False  True False False False False  True]
 [False False False False  True False False False False  True]
 [False False False False  True False False False False  True]
 [False False False False  True False False False False  True]
 [False False False False  True False False False False  True]
 [False False False False  True False False False False  True]
 [False False False False  True False False False False  True]
 [False False False False  True False False False False  True]
 [False False False False  True False False False False  True]
 [False False False False  True False False False False  True]]

In [197]:
a = np.arange(1,101).reshape(10,10)
print(a)
print((a % 5== 0) & (a % 7 == 0))

[[  1   2   3   4   5   6   7   8   9  10]
 [ 11  12  13  14  15  16  17  18  19  20]
 [ 21  22  23  24  25  26  27  28  29  30]
 [ 31  32  33  34  35  36  37  38  39  40]
 [ 41  42  43  44  45  46  47  48  49  50]
 [ 51  52  53  54  55  56  57  58  59  60]
 [ 61  62  63  64  65  66  67  68  69  70]
 [ 71  72  73  74  75  76  77  78  79  80]
 [ 81  82  83  84  85  86  87  88  89  90]
 [ 91  92  93  94  95  96  97  98  99 100]]
[[False False False False False False False False False False]
 [False False False False False False False False False False]
 [False False False False False False False False False False]
 [False False False False  True False False False False False]
 [False False False False False False False False False False]
 [False False False False False False False False False False]
 [False False False False False False False False False  True]
 [False False False False False False False False False False]
 [False False False False False False False False False False]
 [False False False False False False False False False False]]

In [198]:
a[(a % 5== 0) & (a % 7 == 0)]

array([35, 70])

In [200]:
state_bank = np.array([1,2,3,5])
ubl_data = np.array([1,5,7,9,10,20,23,200])

print(state_bank)
print(ubl_data)
print(np.in1d(state_bank,ubl_data))
print(state_bank[np.in1d(state_bank,ubl_data)])

[1 2 3 5]
[  1   5   7   9  10  20  23 200]
[ True False False  True]
[1 5]

In [201]:
state_bank = np.array([1,2,3,5])
ubl_data = np.array([1,5,7,9,10,20,23,200])

print(state_bank)
print(ubl_data)
np.intersect1d(state_bank,ubl_data)

[1 2 3 5]
[  1   5   7   9  10  20  23 200]

array([1, 5])

In [202]:
state_bank = np.array([1,2,3,5])
ubl_data = np.array([1,5,7,9,10,20,23,200])

print(state_bank)
print(ubl_data)
np.union1d(state_bank,ubl_data)

[1 2 3 5]
[  1   5   7   9  10  20  23 200]

array([  1,   2,   3,   5,   7,   9,  10,  20,  23, 200])

In [208]:
np.linspace(1,2,6)

array([1. , 1.2, 1.4, 1.6, 1.8, 2. ])